<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLIENT DETAILS:</title>
	<style>
		h1
		{
			font-family: calibri;
			font-size: 40px;
			text-align: center;
		}
		label
   		{
		font-family: calibri;
		font-size: 19.5px;
		text-align: center;
		font-weight: normal;
		}
		body
		{
			font-size: 19.5px;
			font-family: calibri;
			font-weight: normal;
		}
	</style>
</head>
<body>
	<h1>GET CLIENT DETAILS</h1>
	<label  style="font-size:25px;"><b>Personal Details:</b></label><br>
	<label>Full Name:</label>
		{{personal[0]}}
	<br>
	<label>ID:</label>
		{{personal[1]}}
	<br>
	<label>Address:</label>
		{{personal[2]}}
	<br>
	<label>Birthday:</label>
		{{personal[3]}}
	<br>
	<label>Telephone:</label>
		{{personal[4]}}
	<br>
	<label>Phone:</label>
		{{personal[5]}}
	<br>
	<br>
	<label style="font-size:25px;"><b>Covid Details:</b></label><br>

	<label>Positive to Covid:</label>
		{{sick}}<br>
	<label>Recovered from Covid:</label>
		{{healthy}}<br>
	<br>

	<label  style="font-size:25px;"><b>Covid Vaccines:</b></label><br>
	{{vaccine}}

<div class="container-fluid">
		{% for list in listOfVaccine %}
			<ul class="list-group">
				<li class="list-group-item">
				<label>Vaccine dose:</label>
					{{list.0}}
				<br>
				<label>Vaccine producer:</label>
					{{list.1}}
				<br>
				<label>Vaccine Date:</label>
					{{list.2}}
				<br>
				</li>
			</ul>
		{% endfor %}
	</div>

</body>
</html>