<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HMO Employee Screen</title>
</head>
<body>
<nav class="navbar navbar-default">
		<h1>employee options:</h1>
	</nav>
	<div class="jumbotron">
		<form class="form-group" action="/" method="post">
			<label >please choose:</label>
            <br>
			<button class="btn btn-primary" type="submit" name="submit" value="Add">add new client</button>
			<button class="btn btn-primary" type="submit" name="submit" value="Search">search client</button>
		</form>

	</div>
	<div>
		{{failure}}
	</div>

</body>
</html>